/* start vars */
:root{
    --main-color:#2196F3;
    --main-padding:100px;
    --main-transition:0.3s;
    --sec-color:#e9e6e6;
}
/* start vars */
/* start global rules  */
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Cairo', sans-serif;
}
.container{
    padding: 0 15px;
    margin:  auto;
}
@media(min-width:768px){
    .container{
        width: 750px;
    }
}
@media(min-width:992px){
    .container{
        width: 970px;
    }
}
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* start main heading */
.main-heading{
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
    font-size: 26px;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
}
.main-heading::before{
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
}
.main-heading:hover::before{
    animation: left-move 0.5s forwards linear ;
    z-index: -1;
}
.main-heading::after{
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
}
.main-heading:hover::after{
    animation: right-move 0.5s linear forwards;
    z-index: -1;
}
.main-heading:hover{
    color: white;
    border-color:white;
    transition-delay:0.5s ;
}
/* end main heading */
/* end global rules  */
/* start header */
.header{
    position: relative;
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    -moz-box-shadow:0 0 10px #ddd;
    -webkit-box-shadow:0 0 10px #ddd;
}
.header .content1{
    display: flex;
    justify-content: space-between;
    width:100%;
    height: 72px;
    align-items: center;
    position: relative;
}
.header .content1 h2 a{
    color: var(--main-color);
    text-decoration: none;
}
.header .content1 .main-list{
    display: flex;
}
.header .content1 .main-list li a{    
    overflow: hidden;
    position: relative;
}
.header .content1 .main-list > li > a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    height: 72px;
    align-items: center;
    padding: 0 30px  ;

}
.header .content1 .main-list > li > a::before{
    content: '';
    position: absolute;
    top: 0%;
    left: -100%;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
}
.header .content1 .main-list > li > a:hover{
    background-color: #fafafa;
    color: var(--main-color);
    transition: var(--main-transition);
}
.header .content1 .main-list > li > a:hover::before{
    left: 0;
    transition: var(--main-transition);
}
@media(max-width:767px){
    .header .content1{
        flex-direction: column;
        padding: 10px 0 0 0;
    }
    .header .content1 .main-list > li > a{
        padding: 0 10px;
        font-size: 14px;
        height: 40px;
    }
    .header .content1 h2 a{
        display: flex;
        font-weight: 800;
        align-items: center;
        margin-bottom: 10px;
    }
}
/* start mega menu */

/* end mega menu */
.header .mega-menu{
    position: absolute;
    left:0;
    top:150px;
    background-color: white;
    z-index: -1;
    display: flex;
    width: 100%;
    gap: 40px;
    padding: 20px;  
    border-bottom: 3px var(--main-color) solid;
    transition: var(--main-transition);
    opacity: 0;
}
.header .content1 .main-list > li:last-child:hover .mega-menu{
    z-index: 100;
    opacity: 1;
    top: 73px;
}
@media(max-width:1200px){
    .header .mega-menu img{
        width: 300px;
    }
}
@media(max-width:991px){
    .header .mega-menu .image img{
        display: none;
    }
}
@media(max-width:767px){
    .header .mega-menu {
        display: block;
        left: -15px;
        top: 83px;
    }

}

.header .mega-menu ul {
    width: 100%;
}
.header .mega-menu ul li{
    padding: 15px;
    overflow: hidden;
    position: relative;
}
.header .mega-menu ul li a{
    display: flex;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
    color: var(--main-color);
    text-transform: capitalize;
    position: relative;
}
.header .mega-menu ul li:not(:last-child){
    border-bottom: 1px solid #ececec;
}
.header .mega-menu ul li a i{
    padding-right: 10px;
}
.header .mega-menu ul li::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    top: 0%;
    left: -100%;
    position: absolute;
    transition: var(--main-transition);
}
.header .mega-menu ul li:hover::before{
    left: 0;
}
@media(max-width:767px){
    .header .mega-menu .frist li:last-child{
        border-bottom: 1px solid #ececec;
    }
    
}
/* end header */
/* start landing */
.landing{
    position: relative;
}
.landing::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #ececec;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container{
    position: relative;
    display: flex;
    align-items: center;
    min-height:85vh;
}

.landing .container .image img{
    position: relative;
    animation: infinite linear up-and-down 5s;
    width: 600px;
}
@media(max-width:991px){
    .landing .container {
        flex-direction: column;
    }
    .landing .container .image img{
        width: 400px;
    }
    .landing .container .image{
        top: -200px;
        position: relative;
    }
}
@media(max-width:400px){
    .landing .container .image{
        top: -20px;
    }
}
.landing .container .text{
    flex: 1;
}
.landing .container .text h2{
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: -2px;
}
.landing .container .text p{
    font-size: 23px;
    font-weight: 400;
    color: #666666;
    margin-top: 5px;
    line-height: 1.6;
    max-width: 500px;
}
@media(max-width:991px){
    .landing .container .text{
        text-align: center;
        padding-top: 100px;
        height: 200px;
    }
    .landing .container .text p{
        margin: auto;
        margin-top: 10px;
    }
}
.landing i {
    position: relative;
    width: 100%;
    text-align: center;
    color: var(--main-color);
    animation: bouncing 1.5s infinite;
}
/* end  landing */
/* start articles */
.articles{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.articles .content{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 20%;
    gap: 40px;
    justify-content: center;
}
.articles .content .box{
    width:255pX;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    border-radius: 6px;
    overflow: hidden;
    transition: var(--main-transition);
}
.articles .content .box img{
    width: 100%
}
.articles .content .box .info{
    padding: 20px;
    border-bottom: 1px solid #ececec;
}
.articles .content .box .info h4{
    font-size: 18px;
    margin-bottom: 5px;
}
.articles .content .box .info p{
    color: dimgrey;
    line-height: 1.6;
}
.articles .content .box .text{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: var(--main-color);
}
.articles .content .box .text a{
    font-weight: 700;
    color: var(--main-color);
    text-decoration: none;
    font-size: 16px;
}
.articles .content .box:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 20px rgb(0 0 0 / 30%);
}
.articles .content .box:hover i{
    animation:move-to-read 0.6s infinite linear;
}
/* end articles */
/* start gallery */
.gallery{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: #ececec;
}
.gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
    gap: 40px;
}
.gallery .container .image{
    background-color: white;  
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 15px;
}
.gallery .container .image .pic{
    overflow: hidden;
    position: relative;
}
.gallery .container .pic::before{
    content: '';
    background-color: #ffffff34;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 10px;
    height: 10px;
    opacity: 0;
    z-index: 1;
}
.gallery .container .pic:hover::before{
    animation: flashing 0.7s;
}
.gallery .container .pic img{
    max-width: 100%;
}
.gallery .container .pic:hover img{
    transform: rotate(5deg) scale(1.1);
    transition: var(--main-transition);
}

/* end  gallery */
/* start features */
.features{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.features .container{
    display: flex;
    justify-content:center;
    flex-basis: 30%;
    gap:40px;
    flex-wrap: wrap;
}
.features .container .box{
    width: 350px;
    background-color: white;
    text-align: center;
    overflow: hidden;
    border: 1px solid #ccc;
}
.features .container .box .image img{
    max-width:100%;
}
.features .container .box .image{
    position: relative;
}
.features .container .box .image:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width:0 0 170px 500px;
    bottom: 0%;
    right: 0%;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}
.features .container .box:hover .image:after{
    border-width: 0px 500px 170px 0px;
}
.features .container .quality .image::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color:#f43f36a5;
    position: absolute;
    top: 0%;
    left: 0%;
}
.features .container .time .image::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color:rgb(0,150,136, 0.6);
    position: absolute;
    top: 0%;
    left: 0%;
}
.features .container .passion .image::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color:#03a8f49c;
    position: absolute;
    top: 0%;
    left: 0%;
}
.features .container .box h3{
    font-size: 40px;
    font-weight: 700;
    position: relative;
}
.features .container .box p{
    font-size: 20px;
    font-weight: 400;
    color: #777777;
    padding: 50px 15px;
    line-height: 2;
}
.features .container .box .quality h3::after{
    content:'';
    width: 100px;
    height: 5px;
    background-color:#F44036;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.features .container .box .time h3::after{
    content:'';
    width: 60px;
    height: 5px;
    background-color:#009688;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.features .container .box .passion h3::after{
    content:'';
    width:120px;
    height: 5px;
    background-color:#03A9F4;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.features .box a{
    display: block;
    text-decoration: none;
    color: #F44036;
    width: fit-content;
    margin: 0 auto 30px;
    border: 4px solid;
    padding: 10px 30px 8PX;
    font-size: 22px;
    font-weight: 700;
    border-radius: 6px;
    position: relative;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 110%;
    background-position: right bottom;
    border-color: #F44036;
}
.features .box .time a{
    color: #009688;
    border-color: #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 110%;
    background-position: right bottom;
}

.features .box .passion a{
    color: #03A9F4;
    border-color: #03A9F4;
    background: linear-gradient(to right, #03A9F4 50%, white 50%);
    background-size: 200% 110%;
    background-position: right bottom;
}
.features .box:hover a{
    background-position: left bottom;
    color: white;
    transition: var(--main-transition);
}
/* end  features */
/* start testimonials */
.testimonials{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: #ececec;
}
.testimonials .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px, 1fr));
    gap: 40px;
}
.testimonials .container .box{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}
.testimonials .container .box .image{
    width: 90px;
    height: 90px;
    top: 0px;
    right: px;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    border: 10px solid #ececec;
    top: -60px;
    right: -20px;
}
.testimonials .container .box .image img{
    max-width: 100%;
    height: 100%;
}
.testimonials .container .box .content{
    padding: 20px;
}
.testimonials .container .box .content h4{
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 10px;
}
.testimonials .container .box .content .text1{
    font-weight: 400;
    font-size: 16px;
    color: #777777;
    margin-bottom: 10px;
}
.testimonials .container .box .content  .stars .filled{
    color: #FFC107;
}
.testimonials .container .box .content .text2{
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #777777;
    line-height: 1.6;
}
/* end  testimonials */
/* start team members */
    .team-members{
        padding-top: var(--main-padding);
        padding-bottom: var(--main-padding);
    }
    .team-members .container{
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(350px,1fr));
        gap: 30px;
    }
    .team-members .container .box{
        position: relative;
    }
    .team-members .container .box .content{
        display: flex;
        align-items: center;
        padding-top: 60px;
    }
    .team-members .container .box .content .social{
        display:flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 60px;
    }
    .team-members .container .box .content .social a{
        display: flex;
        text-decoration: none;
        width: 60px;
        height: 30px;
        justify-content: center;
        color: #777777;
    }
    .team-members .container .box .text{
        padding: 20px;
        padding-left: 80px;
    }    
    .team-members .container .box img{
        width:calc(100% - 60px) ;
        border-radius: 10px;
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.444);
    }
    .team-members .container .box::before{
        content: '';
        background-color: #f3f3f3;
        width: 85%;
        height: 100%;
        border-radius: 10px;
        z-index: -2;
        position: absolute;
        right: 0;
        top: 0%;
        transition: var(--main-transition);
    }
    .team-members .container .box .text h2{
        color:var(--main-color);
        font-size: 22px;
        margin-bottom: 10px;
    }
    .team-members .container .box::after{
        content: '';
        background-color: #ccc;
        width: 0;
        height: 100%;
        border-radius: 10px;
        z-index: -1;
        position: absolute;
        right: 0;
        top: 0%;
        transition: var(--main-transition);
    }
    .team-members .container .box:hover:after{
        width: 85%;
    }
    .team-members .container .box:hover .text h2{
        color: #777777;
        transition: var(--main-transition);
    }
    .team-members .container .box:hover .content img{
        filter: grayscale(100%);
        transition: var(--main-transition);
    }
    .team-members .container .box .content .social a:hover{
        color: var(--main-color);
    }
/* end  team members */
/* start services */
.services{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: #ececec;
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(350px , 1fr));
    gap: 40px;
}
.services .container .box{
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: var(--main-transition);
}
.services .container .box::before{
    content: '';
    width: 0px;
    height: 3px;
    position: absolute;
    left: 50%;
    top: -3px;
    background-color: var(--main-color);
    transition: var(--main-transition);
}
.services .container .box:hover:before{
    width: 100%;
    left: 0;
}
.services .container .box:hover{
    transform: translateY(-10px);
}
.services .container .box .content{
    padding: 30px;
    text-align: center;
}
.services .container .box .content i{
    color: #d5d5d5;
    margin-bottom: 20px;
}
.services .container .box .content p{
    color: var(--main-color);
    font-size: 25px;
    font-weight: 700;
}
.services .container .box .details{
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    margin-top: 10px;
    align-items: center;
    padding: 0 15px 0 0;
    overflow: hidden;
}
.services .container .box .details a{
    color: var(--main-color);
    text-decoration: none;
}
.services .container .box .details p.num{
    color:white;
    display: flex;
    width: calc(25% + 20px);
    background-color: var(--main-color);
    font-size: 32px;
    font-weight: bold;
    height: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -10px;
}
.services .container .box .details p.num::before{
    content: '';
    width: 50px;
    height: 100%;
    position: absolute;
    background-color:#d5d5d5;
    transform: skewX(-30deg);
    top: 0%;
    right: -30%;
}
/* end  services */
/* start our skills */
/* end  our skills */
.our-skills{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.our-skills .container{
    display: flex;
    justify-content: center;
}
.our-skills .content{
    width: 100%;
}
.our-skills .container .bar-content{
    width: 100%;
    height: 35px;
    background-color:#eeeeee ;
    margin: 20px 0;
    position: relative;
}
.our-skills .container .bar-content .span1{
    height: 35px;
    background-color: var(--main-color);
    display:block;
}
.our-skills .container .bar-content .span2{
    display: flex;
    position: absolute;
    top: -100%;
    right: 0;
    color: var(--main-color);
    border: 1px solid #cccccc;
    padding: 4px 5px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
}
@media(max-width:1010px){
    .our-skills .container img{
        display: none;
    }
}
/* start how it works */
.how-it-works{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: #ececec;
}
.how-it-works .container{
    display: flex;
    flex-basis: 45%;
    gap: 10%; 
    align-items: center;
}
.how-it-works .container .content{
    display: flex;
    flex-direction:column ;
    gap: 20px;
}
.how-it-works .container .content .box{
    display: flex;
    background-color: #f6f5f5;
    border: 2px solid white;
    border-radius: 5px;
    padding: 30px;
    align-items: center;
    position: relative;
}
.how-it-works .container .content .box::before{
    content: '';
    width: 0%;
    height: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateY(-50%);
    background-color: #ececec;
    transition: var(--main-transition);
}
.how-it-works .container .content .box:hover::before{
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    transform: translateX(0);
    transform: translateY(0);
    
}
.how-it-works .container .content img{
    width: 60px;
    margin-right: 30px;
}
@media(max-width:991px){
    .how-it-works .container img.main-image{
        display: none;
    }
}
.how-it-works .container .content .box .text,
.how-it-works .container .content .box img{
    z-index: 1;
}
.how-it-works .container .content .box .text h3{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}
.how-it-works .container .content .box .text p{
    line-height: 1.6;
    color: #777777;
    font-size: 18px;
    font-weight: 400;
}
/*  end  how it works */
/* start latest events */
.events{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.events .point-img-right{
    position: absolute;
    top: 200px;
    right: 0;
}
.events .point-img-left{
    position: absolute;
    bottom: 200px;
}
.events .content{
    display: flex;
    align-items: center;
}
@media(max-width:991px){
    .events .container img,
    .events .point-img-left{
        display: none;
    }
}
.events .content .info{
    text-align: center;
}
.events .content .info .counter{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 30px;
}
.events .content .info .counter .unit{
    display: flex;
    flex-direction: column;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    background-color: white;
    position: relative;
}
.events .content .info .counter .unit span:first-child{
    color: var(--main-color);
    font-size: 35px;
    font-weight: 700;
    padding: 10px 15px;
    border-bottom: 1px solid #d4d4d4;
}
.events .content .info .counter .unit span.days{
    padding: 10px 5px;
}
.events .content .info .counter .unit span:nth-child(2){
    padding: 5px 10px;
    font-size: 14px;
}
.events .content .info .text{
    margin-top:40px;
}
.events .content .info .text h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.events .content .info .text p{
    line-height: 1.6;
    color: #777777;
    font-size: 19px;
}
.events .subscribe{
    margin-top: 50px;
    justify-content: center;
    display: flex;
}
.events .subscribe form{
    background-color: #f6f5f5;
    border-radius: 60px;
    padding: 30px;
    width: 600px;
    justify-content: center;
    display: flex;
    gap: 20px;
    align-items: center;
}
.events .subscribe form .email{
    border-radius: 60px;
    border: none;
    width: 70%;
    height: 17px;
    display: flex;
    padding: 20px;
    transition: var(--main-transition);
    caret-color: var(--main-color);
}
.events .subscribe form .email:focus{
    outline: none;
}
.events .subscribe form .email::placeholder{
    transition:var(--main-transition);
}
.events .subscribe form .email:focus::placeholder{
    opacity: 0;
}
.events .subscribe form .submit{
    border-radius: 60px;
    border: none;
    width:25%;
    height: 100%;
    display: flex;
    padding: 13px;
    background-color: var(--main-color);
    color: white;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: var(--main-transition);
}    
@media(max-width:767px){
    .events .subscribe form{
        flex-direction: column;
        border-radius: 0;
    }
    .events .subscribe form .email,
    .events .subscribe form .submit{
        width: 100%;
    }
}
.events .subscribe form .submit:hover{
    background-color:#03A9F4;
}
/* end  latest events */
/* start pricing plans */
.pricing-plans{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: #ececec;
    position: relative;
}
.pricing-plans .container {
    display: flex;
    justify-content: center;
    gap: 30px;
}
@media(max-width:1010px){
    .pricing-plans .container{
        flex-wrap: wrap;
    }
}
.pricing-plans .points-right{
    position: absolute;
    top: 250px;
    right: 0;
}
.pricing-plans .points-left{
    position: absolute;
    bottom: 120px;
    left: 0;
}
.pricing-plans .container .box{
    display:flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    position: relative;
}
.pricing-plans .container .box h3{
    font-size: 25px;
    font-weight: 700;
    margin: 30px;
    position: relative;
}
.pricing-plans .container .box img{
    width: 80px;
    margin-bottom: 30px;
    position: relative;
}
.pricing-plans .container .box h2{
    font-size: 65px;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 5px;
    position: relative;
}
.pricing-plans .container .box p{
    color: #777777;
    margin-bottom: 20px;
    position: relative;
}
.pricing-plans .container .box ul{
    width: 100%;
    position: relative;
    z-index: 1;
}
.pricing-plans .container .box ul li{
    justify-content: right;
    display: left;
    padding: 20px;
    border-top:1px solid #eee ;
    position: relative;
}
.pricing-plans .container .box ul li:last-child{
    border-bottom: 1px solid #eee;
}
.pricing-plans .container .box ul li i{
    color: var(--main-color);
    margin-right: 10px;
}
.pricing-plans .container .box a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    padding: 15px 20px;
    font-weight:700;
    margin: 30px 0 40px;
    transition: var(--main-transition);
    position: relative;
    z-index: 1;
}
.pricing-plans .container .box a:hover{
    background-color: var(--main-color);
    color: white;
}
.pricing-plans .container .box:nth-child(2){
    top: -20px;
}
@media(max-width:1010px){
    .pricing-plans .container .box:nth-child(2){
        top: 0;
    }
    .pricing-plans .container .box{
        width: 350px;
    }
}
.pricing-plans .container .box:nth-child(2) h3::before{
    content: 'Most Populer';
    background-color: var(--main-color);
    color: white;
    width: 120px;
    font-size: 18px;
    font-weight: 700;
    padding:10px ;
    position: absolute;
    transform: rotate(90deg);
    right: -150px;
    top: 19px;
    justify-content: left;
}
.pricing-plans .container .box:nth-child(2) h3::after{
    content: '';
    border-width: 20px;
    border-color: transparent transparent white ;
    border-style: solid;
    position: absolute;
    right: -100px;
    top: 70px;
}
.pricing-plans .container .box:before{
    content: '';
    position: absolute;
    width: 0;
    height: 50%;
    top: 0%;
    right: 0%;
    background-color: #f6f6f6;
    transition: var(--main-transition);
}
.pricing-plans .container .box::after{
    content: '';
    position: absolute;
    width: 0;
    height: 50%;
    bottom: 0%;
    left: 0%;
    background-color: #f6f6f6;
    transition: var(--main-transition);
}
.pricing-plans .container .box:hover::after,
.pricing-plans .container .box:hover::before{
    width: 100%;
}
/* end  pricing plans */
/* start top videos */
.top-videos{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.top-videos .container{
    display: flex;
    justify-content: center;
}
.top-videos .container .content1{
    flex: 1;
    background-color: #f4f4f4;
    border: 1px solid #e2e2e2;
    min-width: 300px;
}
.top-videos .container .content1 .text{
    padding: 20px;
    font-weight: 800;
    justify-content: space-between;
    display: flex;
}
.top-videos .container .content1 ul{
    background-color: white;
}
.top-videos .container .content1 ul li{
    padding: 20px;
    border-top: 1px solid #e2e2e2;
    cursor: pointer;
}
.top-videos .container .content1 ul li:hover p{
    color: var(--main-color);
    transition: var(--main-transition);
}
.top-videos .container .content1 ul li p{
    margin-bottom: 10px;
    font-weight: 500;
}
.top-videos .container .content1 ul li span{
    color:#777777;
}
.top-videos .container .content2{
    background-color: #e2e2e2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top-videos .container .content2 img{
    max-width: 100%;
}

.top-videos .container .content2 .info{
    background-color: white;
    height: 60px;
    align-items: center;
    display: flex;
    padding-left: 20px;
    font-weight: 500;
    
}
@media(max-width:991px){
    .top-videos .container{
        flex-direction: column;
    }
}
/* end  top videos */
/* start stats */
.stats{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-image: url(../images/stats.jpg);
    background-size: cover;
    position: relative;
}
.stats::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: 1;
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 0.92;
}
.stats .title{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 50px;
}
.stats .container{
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns:repeat(auto-fill , minmax(250px , 1fr)) ;
    gap: 20px;
}
.stats .container .box{
    background-color: white;
    padding: 30px;
    text-align: center;
    position: relative;
    opacity: 0.8;
    transition: var(--main-transition);
}
.stats .container .box:hover{
    opacity: 1;
}
.stats .container .box i{
    margin-bottom: 20px;
    color: black;
}
.stats .container .box nav{
    font-size: 50px;
    font-weight: 700;
    color: black;
    margin-bottom: 10px;
}
.stats .container .box p{
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    color: var(--main-color);
}
.stats .container .box::before{
    content: '';
    width: 2px;
    height: 0;
    top: 0%;
    right: 0;
    position: absolute;
    background-color: var(--main-color);
    transition: 1s;
}
.stats .container .box::after{
    content: '';
    width: 2px;
    height: 0;
    bottom: 0%;
    left: 0;
    position: absolute;
    background-color: var(--main-color);
    transition: 1s;
}
.stats .container .box:hover::before,
.stats .container .box:hover::after{
    height: 100%;
    transition: 1s;
}
/* end  stats */
/* start request a discount */
.request-a-discount{
    display: flex;
}
@media(max-width:991px){
    .request-a-discount{
        flex-direction: column;
        
    }
}
.request-a-discount .image{
    background-image: url(../images/discount-background1.jpg);
    position: relative;
    display: flex;
    flex-direction:column;
    gap: 30px;
    text-align: center;
    align-items: center;
    flex-basis: 50%;
    animation: change-background 10s linear infinite;
}
.request-a-discount .image::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: 0.97;
    top: 0%;
    left: 0%;
    z-index: 1;
}
.request-a-discount .content{
    position: relative;
    z-index: 2;
}
.request-a-discount .content{
    padding:180px 0 ;
}
@media(max-width:991px){
    .request-a-discount .content{
        padding:50px 0 ;
    }
}
.request-a-discount .content img{
    width: 300px;
}
.request-a-discount .image .content .title{
    font-size: 40px;
    font-weight: 700;
    color: white;
    letter-spacing: -2px;
    margin-bottom: 40px;
}
.request-a-discount .content p{
    max-width: 500px;
    color: white;
    line-height: 1.6;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.request-a-discount .request{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-basis: 50%;
}

.request-a-discount .request form{
    display: flex;
    flex-direction: column;
}
.request-a-discount .request .title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
    letter-spacing: -2px;
}
.request-a-discount .request form .input{
    margin-bottom: 20px;
    border: none;
    width: 300px;
    display: flex;
    padding: 15px 10px;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    caret-color: var(--main-color);
}
.request-a-discount .request form textarea{
    height: 180px;
    resize: none;
}
.request-a-discount .request form .input:focus{
    outline: none;
}
.request-a-discount .request form .input::placeholder{
    opacity: 1;
    transition: var(--main-transition);
}
.request-a-discount .request form .input:focus::placeholder{
    opacity: 0;
}
.request-a-discount .request form [type="submit"]{
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
    padding: 18px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
/* end  request a discount */
/* start footer */
.footer{
    padding-top: 80px;
    background-color: #191919;
}
.footer .container{
    color: #b9b9b9;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.footer .container > div{
    flex-basis: 25%;
}
.footer .container .social h2{
    font-size: 50px;
    font-weight: 700;
    color:white;
    margin-bottom: 20px;
}
.footer .container .social .content{
    display: flex;
    margin-bottom: 20px;
}
.footer .container .social  a {
    display: flex;
    text-decoration: none;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: #b9b9b9;
    background-color: rgb(49,49,49);
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    transition: var(--main-transition);
}
.footer .container .social  a:first-child:hover{
    background-color: #1877f2;
}
.footer .container .social  a:nth-child(2):hover{
    background-color: #1da1f2;
}
.footer .container .social  a:last-child:hover{
    background-color: red;
}
.footer .container .social p{
    line-height: 2;
}
.footer .important ul li{
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
    align-items: center; 
}
.footer .important ul li:not(:last-child){
    border-bottom: 1px solid #444;
}
.footer .important ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #b9b9b9;
    position: relative;
    transition: var(--main-transition);
}
.footer .important ul li a i{
    margin-right: 10px;
    font-size: 14px;
    color: var(--main-color);
}
.footer .important ul li:hover a{
    transform: translateX(10px);
}
.footer .important ul li:hover a:not(i){
    color: white;
}
.footer .about div{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}
.footer .about div p{
    line-height: 1.6;
}
.footer .about div i{
    color: var(--main-color);
    font-size: 26px;
    margin-right: 10px;
}
.footer .images img{
    margin: 2px;
    border: 3px solid white;
}
@media(max-width:991px){
    .footer .container{
        flex-direction: column;
    }
}
.footer nav{
    display: flex;
    justify-content: center;
    padding: 25px;
    margin-top: 80px;
    color: white;
    border-top: 1px solid #444;
    text-align: center;
}
/* end  footer */
/* start animation */
@keyframes up-and-down {
    0%,
    100%{
        top:0;
    }
    50%{
        top:-50px;
    }
}
@keyframes bouncing{
    0%,
    10%,
    20%,
    50%,
    80%,
    100%{
        transform:translateY(0)
    }
    40%,
    60%{
        transform:translateY(-20px)
    }
}
@keyframes left-move {
    50%{
        left: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        left:0;
        width: 60%;
        height: 100%;
        border-radius: 0%;
    }
}
@keyframes right-move{
    50%{
        right: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        right:0;
        width: 60%;
        height: 100%;
        border-radius: 0%;
    }
}
@keyframes move-to-read{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(10px);
    }
}
@keyframes flashing{
    0%,
    40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
@keyframes change-background{
    0%,
    100%{
        background-image: url(../images/discount-background1.jpg);
    }
    50%{
        background-image: url(../images/discount-background2.jpg);
    }
}
/* end animation */
